[blue_text](http://example.com)

[Link](http://example.com/)

In [2]:
# General imports for these exercises

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from vega_datasets import data
import requests
import plotly.express as px
import plotly.io as pio
import acquire
import prep
from datetime import timedelta, datetime
pio.templates

Templates configuration
-----------------------
    Default template: 'plotly'
    Available templates:
        ['ggplot2', 'seaborn', 'simple_white', 'plotly',
         'plotly_white', 'plotly_dark', 'presentation', 'xgridoff',
         'ygridoff', 'gridon', 'none']

In [4]:
# from plotly.subplots import make_subplots
# import plotly.graph_objects as go

fig = px.make_subplots(rows=1, cols=2)

# fig.add_trace(
#     go.Scatter(x=[1, 2, 3], y=[4, 5, 6]),
#     row=1, col=1
# )

# fig.add_trace(
#     go.Scatter(x=[20, 30, 40], y=[50, 60, 70]),
#     row=1, col=2
# )

# fig.update_layout(height=600, width=800, title_text="Side By Side Subplots")
# fig.show()

AttributeError: module 'plotly.express' has no attribute 'make_subplots'

In [ ]:
import array

arr = array.array('a', [5, 1, 3, 4, 2, 2, 7])

In [ ]:
import pandas as pd
import numpy as np

data = [['abc - a', 'A'], ['def - b', 'B'], ['ghi - c', 'C'], ['jkl - d', 'D']]
df = pd.DataFrame(data, columns=['names', 'category'])

In [ ]:
df

In [ ]:
# Iterate through each rows of column-names, and store each value in 'st1' and then ->
# first, middle, last = st1.partition(' - ')
# df['names'] = first
# df['division'] = last
# and also assigning it to dataframe one by one, please help me to get my desired output in python.


for index, row in df.iterrows():
    st1 = row['names']
    first, middle, last = st1.partition(' - ')
    df.loc[index, 'names'] = first
    df.loc[index, 'division'] = last

# Explain what is df.loc
# df.loc[row index, column index]
# df.loc[0, 'names'] = first
# df.loc[0, 'division'] = last

print(df)

In [ ]:
st1

In [ ]:
first

In [ ]:
middle

In [ ]:
last

In [ ]:
df = data('iris')
df.head()

In [ ]:
df[df.sepalLength == 5.1]

In [ ]:
df.sepalLength = (df.sepalLength == 5.1).replace(5.2)

In [ ]:
df.replace(to_replace=['setosa', 'versicolor'], value= 'Mwahahaha', inplace=True)
df.sample(30)

In [ ]:
df.replace(to_replace=5.1, value=5.2, inplace=True)

In [ ]:
df[df.sepalLength == 5.2]

In [ ]:
df.head()

In [ ]:
.str.replace(5.2)

In [ ]:
df = pd.DataFrame(np.arange(10).reshape(-1, 2), columns=['A', 'B'])
df

In [ ]:
m = df % 3 == 0

In [ ]:
df.where(m, -df)

In [ ]:
df

In [ ]:
vgsales = pd.read_csv('vgsales.csv')

In [ ]:
vgsales.head()

In [ ]:
# importing the required library
import seaborn as sns
import matplotlib.pyplot as plt

# read a titanic.csv file
# from seaborn library
titanic = sns.load_dataset('titanic')


# who v/s fare barplot
sns.barplot(x = 'who',
			y = 'fare',
			hue = 'class',
			data = titanic,
			palette = "Blues")

# Show the plot
plt.show()

In [ ]:
titanic.head()

In [ ]:
import pandas as pd
  
# create a dictionary with five fields each
data = {
    'A': ['A1', 'A2', 'A3', 'A4', 'A5'],
    'B': ['B1', 'B2', 'B3', 'B4', 'B5'],
    'C': ['C1', 'C2', 'C3', 'C4', 'C5'],
    'D': ['D1', 'D2', 'D3', 'D4', 'D5'],
    'E': ['E1', 'E2', 'E3', 'E4', 'E5']}
  
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
df.pop('B')
  
df