In [2]:
# General imports for these exercises

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from vega_datasets import data
import requests

[blue_text](http://example.com)

[Link](http://example.com/)

In [69]:
response = requests.get('http://example.com')
response

In [6]:
df = data('iris')
df.head()

   sepalLength  sepalWidth  petalLength  petalWidth species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

In [5]:
help(data)

Help on DataLoader in module vega_datasets.core object:

class DataLoader(builtins.object)
 |  Load a dataset from a local file or remote URL.
 |
 |  There are two ways to call this; for example to load the iris dataset, you
 |  can call this object and pass the dataset name by string:
 |
 |      >>> from vega_datasets import data
 |      >>> df = data('iris')
 |
 |  or you can call the associated named method:
 |
 |      >>> df = data.iris()
 |
 |  Optionally, additional parameters can be passed to either of these
 |
 |  Optional parameters
 |  -------------------
 |  return_raw : boolean
 |      If True, then return the raw string or bytes.
 |      If False (default), then return a pandas dataframe.
 |  use_local : boolean
 |      If True (default), then attempt to load the dataset locally. If
 |      False or if the dataset is not available locally, then load the
 |      data from an external URL.
 |  **kwargs :
 |      additional keyword arguments are passed to the pandas parsing function,
 |      either ``read_csv()`` or ``read_json()`` depending on the data format.
 |
 |  Methods defined here:
 |
 |  __call__(self, name, return_raw=False, use_local=True, **kwargs)
 |      Call self as a function.
 |
 |  __dir__(self)
 |      Default dir() implementation.
 |
 |  __getattr__(self, dataset_name)
 |
 |  list_datasets(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [70]:
response.ok

True

In [3]:
date = ['TRANSACTION DATE : 08:42 AM, 30 Nov 2021',
        'TRANSACTION DATE : 08:46 AM, 30 Nov 2021',
        'TRANSACTION DATE : 08:51 AM, 30 Nov 2021',
        'TRANSACTION DATE : 08:58 AM, 30 Nov 2021',
        'TRANSACTION DATE : 09:12 AM, 30 Nov 2021']

In [4]:
date

['TRANSACTION DATE : 08:42 AM, 30 Nov 2021',
 'TRANSACTION DATE : 08:46 AM, 30 Nov 2021',
 'TRANSACTION DATE : 08:51 AM, 30 Nov 2021',
 'TRANSACTION DATE : 08:58 AM, 30 Nov 2021',
 'TRANSACTION DATE : 09:12 AM, 30 Nov 2021']

In [13]:
type(date)

list

In [14]:
client_id = ['CLIENT ID : C00001',
             'CLIENT ID : C00002',
             'CLIENT ID : C00001',
             'CLIENT ID : C00003',
             'CLIENT ID : C00004']

In [16]:
type(client_id)

list

In [17]:
client_name = ['CLIENT NAME : SALISU BISI',
               'CLIENT NAME : SULE YAYA',
               'CLIENT NAME : SALISU BIST',
               'CLIENT NAME : ADEGOKE BAYO',
               'CLIENT NAME : COKER PRIYE']

In [18]:
type(client_name)

list

In [20]:
df = pd.DataFrame(list(zip(date, client_id, client_name)), columns=['date', 'client_id', 'client_name'])

In [25]:
df1 = pd.DataFrame(['TRANSACTION DATE : 08:42 AM, 30 Nov 2021',
                    'TRANSACTION DATE : 08:46 AM, 30 Nov 2021',
                    'TRANSACTION DATE : 08:51 AM, 30 Nov 2021',
                    'TRANSACTION DATE : 08:58 AM, 30 Nov 2021',
                    'TRANSACTION DATE : 09:12 AM, 30 Nov 2021'])

In [26]:
df1

                                          0
0  TRANSACTION DATE : 08:42 AM, 30 Nov 2021
1  TRANSACTION DATE : 08:46 AM, 30 Nov 2021
2  TRANSACTION DATE : 08:51 AM, 30 Nov 2021
3  TRANSACTION DATE : 08:58 AM, 30 Nov 2021
4  TRANSACTION DATE : 09:12 AM, 30 Nov 2021

In [21]:
df.head()

,date,client_id,client_name
0,"TRANSACTION DATE : 08:42 AM, 30 Nov 2021",CLIENT ID : C00001,CLIENT NAME : SALISU BISI
1,"TRANSACTION DATE : 08:46 AM, 30 Nov 2021",CLIENT ID : C00002,CLIENT NAME : SULE YAYA
2,"TRANSACTION DATE : 08:51 AM, 30 Nov 2021",CLIENT ID : C00001,CLIENT NAME : SALISU BIST
3,"TRANSACTION DATE : 08:58 AM, 30 Nov 2021",CLIENT ID : C00003,CLIENT NAME : ADEGOKE BAYO
4,"TRANSACTION DATE : 09:12 AM, 30 Nov 2021",CLIENT ID : C00004,CLIENT NAME : COKER PRIYE

****

In [29]:
date1 = ['08:42 AM, 30 Nov 2021',
        '08:46 AM, 30 Nov 2021',
        '08:51 AM, 30 Nov 2021',
        '08:58 AM, 30 Nov 2021',
        '09:12 AM, 30 Nov 2021', column=['transaction date']]

SyntaxError: invalid syntax (1208305367.py, line 5)

In [28]:
date1

['08:42 AM, 30 Nov 2021',
 '08:46 AM, 30 Nov 2021',
 '08:51 AM, 30 Nov 2021',
 '08:58 AM, 30 Nov 2021',
 '09:12 AM, 30 Nov 2021']

In [ ]:
df = pd.DataFrame

In [13]:
type(date)

list

In [14]:
client_id = ['CLIENT ID : C00001',
             'CLIENT ID : C00002',
             'CLIENT ID : C00001',
             'CLIENT ID : C00003',
             'CLIENT ID : C00004']

In [16]:
type(client_id)

list

In [30]:
client_id = client_id.remove('CLIENT ID : ')

ValueError: list.remove(x): x not in list

In [17]:
client_name = ['CLIENT NAME : SALISU BISI',
               'CLIENT NAME : SULE YAYA',
               'CLIENT NAME : SALISU BIST',
               'CLIENT NAME : ADEGOKE BAYO',
               'CLIENT NAME : COKER PRIYE']

In [18]:
type(client_name)

list

In [20]:
df = pd.DataFrame(list(zip(date, client_id, client_name)), columns=['date', 'client_id', 'client_name'])

In [25]:
df1 = pd.DataFrame(['TRANSACTION DATE : 08:42 AM, 30 Nov 2021',
                    'TRANSACTION DATE : 08:46 AM, 30 Nov 2021',
                    'TRANSACTION DATE : 08:51 AM, 30 Nov 2021',
                    'TRANSACTION DATE : 08:58 AM, 30 Nov 2021',
                    'TRANSACTION DATE : 09:12 AM, 30 Nov 2021'])

In [55]:
import array

arr = array.array('a', [5, 1, 3, 4, 2, 2, 7])

ValueError: bad typecode (must be b, B, u, h, H, i, I, l, L, q, Q, f or d)

In [13]:
import pandas as pd
import numpy as np

data = [['abc - a', 'A'], ['def - b', 'B'], ['ghi - c', 'C'], ['jkl - d', 'D']]
df = pd.DataFrame(data, columns=['names', 'category'])

In [14]:
df

     names category
0  abc - a        A
1  def - b        B
2  ghi - c        C
3  jkl - d        D

In [15]:
# Iterate through each rows of column-names, and store each value in 'st1' and then ->
# first, middle, last = st1.partition(' - ')
# df['names'] = first
# df['division'] = last
# and also assigning it to dataframe one by one, please help me to get my desired output in python.


for index, row in df.iterrows():
    st1 = row['names']
    first, middle, last = st1.partition(' - ')
    df.loc[index, 'names'] = first
    df.loc[index, 'division'] = last

# Explain what is df.loc
# df.loc[row index, column index]
# df.loc[0, 'names'] = first
# df.loc[0, 'division'] = last

print(df)

  names category division
0   abc        A        a
1   def        B        b
2   ghi        C        c
3   jkl        D        d

In [16]:
st1

'jkl - d'

In [17]:
first

'jkl'

In [18]:
middle

' - '

In [19]:
last

'd'