In [7]:
# General imports for these exercises

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from vega_datasets import data

In [3]:
date = ['TRANSACTION DATE : 08:42 AM, 30 Nov 2021',
        'TRANSACTION DATE : 08:46 AM, 30 Nov 2021',
        'TRANSACTION DATE : 08:51 AM, 30 Nov 2021',
        'TRANSACTION DATE : 08:58 AM, 30 Nov 2021',
        'TRANSACTION DATE : 09:12 AM, 30 Nov 2021']

In [4]:
date

['TRANSACTION DATE : 08:42 AM, 30 Nov 2021',
 'TRANSACTION DATE : 08:46 AM, 30 Nov 2021',
 'TRANSACTION DATE : 08:51 AM, 30 Nov 2021',
 'TRANSACTION DATE : 08:58 AM, 30 Nov 2021',
 'TRANSACTION DATE : 09:12 AM, 30 Nov 2021']

In [13]:
type(date)

list

In [14]:
client_id = ['CLIENT ID : C00001',
             'CLIENT ID : C00002',
             'CLIENT ID : C00001',
             'CLIENT ID : C00003',
             'CLIENT ID : C00004']

In [16]:
type(client_id)

list

In [17]:
client_name = ['CLIENT NAME : SALISU BISI',
               'CLIENT NAME : SULE YAYA',
               'CLIENT NAME : SALISU BIST',
               'CLIENT NAME : ADEGOKE BAYO',
               'CLIENT NAME : COKER PRIYE']

In [18]:
type(client_name)

list

In [20]:
df = pd.DataFrame(list(zip(date, client_id, client_name)), columns=['date', 'client_id', 'client_name'])

In [25]:
df1 = pd.DataFrame(['TRANSACTION DATE : 08:42 AM, 30 Nov 2021',
                    'TRANSACTION DATE : 08:46 AM, 30 Nov 2021',
                    'TRANSACTION DATE : 08:51 AM, 30 Nov 2021',
                    'TRANSACTION DATE : 08:58 AM, 30 Nov 2021',
                    'TRANSACTION DATE : 09:12 AM, 30 Nov 2021'])

In [26]:
df1

                                          0
0  TRANSACTION DATE : 08:42 AM, 30 Nov 2021
1  TRANSACTION DATE : 08:46 AM, 30 Nov 2021
2  TRANSACTION DATE : 08:51 AM, 30 Nov 2021
3  TRANSACTION DATE : 08:58 AM, 30 Nov 2021
4  TRANSACTION DATE : 09:12 AM, 30 Nov 2021

In [21]:
df.head()

,date,client_id,client_name
0,"TRANSACTION DATE : 08:42 AM, 30 Nov 2021",CLIENT ID : C00001,CLIENT NAME : SALISU BISI
1,"TRANSACTION DATE : 08:46 AM, 30 Nov 2021",CLIENT ID : C00002,CLIENT NAME : SULE YAYA
2,"TRANSACTION DATE : 08:51 AM, 30 Nov 2021",CLIENT ID : C00001,CLIENT NAME : SALISU BIST
3,"TRANSACTION DATE : 08:58 AM, 30 Nov 2021",CLIENT ID : C00003,CLIENT NAME : ADEGOKE BAYO
4,"TRANSACTION DATE : 09:12 AM, 30 Nov 2021",CLIENT ID : C00004,CLIENT NAME : COKER PRIYE

****

In [29]:
date1 = ['08:42 AM, 30 Nov 2021',
        '08:46 AM, 30 Nov 2021',
        '08:51 AM, 30 Nov 2021',
        '08:58 AM, 30 Nov 2021',
        '09:12 AM, 30 Nov 2021', column=['transaction date']]

SyntaxError: invalid syntax (1208305367.py, line 5)

In [28]:
date1

['08:42 AM, 30 Nov 2021',
 '08:46 AM, 30 Nov 2021',
 '08:51 AM, 30 Nov 2021',
 '08:58 AM, 30 Nov 2021',
 '09:12 AM, 30 Nov 2021']

In [ ]:
df = pd.DataFrame

In [13]:
type(date)

list

In [14]:
client_id = ['CLIENT ID : C00001',
             'CLIENT ID : C00002',
             'CLIENT ID : C00001',
             'CLIENT ID : C00003',
             'CLIENT ID : C00004']

In [16]:
type(client_id)

list

In [30]:
client_id = client_id.remove('CLIENT ID : ')

ValueError: list.remove(x): x not in list

In [17]:
client_name = ['CLIENT NAME : SALISU BISI',
               'CLIENT NAME : SULE YAYA',
               'CLIENT NAME : SALISU BIST',
               'CLIENT NAME : ADEGOKE BAYO',
               'CLIENT NAME : COKER PRIYE']

In [18]:
type(client_name)

list

In [20]:
df = pd.DataFrame(list(zip(date, client_id, client_name)), columns=['date', 'client_id', 'client_name'])

In [25]:
df1 = pd.DataFrame(['TRANSACTION DATE : 08:42 AM, 30 Nov 2021',
                    'TRANSACTION DATE : 08:46 AM, 30 Nov 2021',
                    'TRANSACTION DATE : 08:51 AM, 30 Nov 2021',
                    'TRANSACTION DATE : 08:58 AM, 30 Nov 2021',
                    'TRANSACTION DATE : 09:12 AM, 30 Nov 2021'])

In [55]:
import array

arr = array.array('a', [5, 1, 3, 4, 2, 2, 7])

ValueError: bad typecode (must be b, B, u, h, H, i, I, l, L, q, Q, f or d)

In [54]:
print (arr.index(5))

0

In [65]:
# Python program to demonstrate
# while loop with True

N = 10
Sum = 0

# This loop will run forever
while True:
	Sum += N
	N -= 1
	
	# the below condition will tell
	# the loop to stop
	if N == 0:
		break
		
print(f"Sum of First 10 Numbers is {Sum}")

Sum of First 10 Numbers is 55